<div class="container">
  <div class="row">&nbsp;</div>

  <!-- @begin: buttons -->
  <div class="row">

    <ul class="list-inline">
      <li>
        <a href="#bookmarks/search">
          <i class="glyphicon glyphicon-search"></i> Search
        </a>
      </li>
      <li>|</li>
      <li>
        <a href="#bookmarks/new">
          <i class="glyphicon glyphicon-plus-sign"></i> New
        </a>
      </li>
      <li>&nbsp;</li>
      <li>

        <button
          id="optionsBtn"
          type="button"
          title="{{optionsBtnLabel}}"
          ng-click="showOptionsBtnClick()"
          class="btn btn-sm btn-default"
          ng-class="{'active': showOptions}">
          <i class="glyphicon glyphicon-wrench"></i> {{optionsBtnLabel}}
        </button>

      </li>
    </ul> <!-- / .list-inline -->

  </div>
  <!-- @end: buttons -->


  <!-- @begin: options -->
  <div class="row" ng-show="showOptions">

    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <span ng-if="showFilterBtn">
      <button
        id="filterBtn"
        type="button"
        title="{{filterBtnLabel}}"
        ng-click="showFilterBtnClick()"
        class="btn btn-sm btn-default"
        ng-class="{'active': showFilterBtnActive}">
        <i class="glyphicon glyphicon-filter"></i> {{filterBtnLabel}}
      </button>
    </span>

    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <span ng-if="showPagination">
      <span ng-if="result.pages > 1">
        Pages: <span class="badge">{{result.pages}}</span> &nbsp;&nbsp;
      </span>
      <span ng-if="result.count > 0">
        Total: <span class="badge">{{result.count}}</span>
      </span>
      <span class="visible-xs col-md-1">&nbsp;</span>
    </span>

    <div class="col-md-3 pull-right" ng-show="showPagination">
      <form
        name="updateSizeForm"
        ng-submit="updatePageSizeFormSubmit()"
        role="form" novalidate>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Page Size</span>
          <input
            class="form-control"
            type="number"
            name="pageSize"
            ng-model="pageSize"
            fend-focus="focusPageSizeInput"
            min="{{pageMinSize}}" max="{{pageMaxSize}}"
            placeholder="min value 2">
          <span class="input-group-btn">
            <button
              ng-click="updatePageSize()"
              ng-disabled="updatePageSizeInvalid(pageSize)"
              class="btn btn-default" type="button">Update</button>
          </span>
        </div>
        <div>
          <p
            id="pageSizeMessage"
            ng-if="updateSizeForm.pageSize.$error.min || updateSizeForm.pageSize.$error.max"
            class="text-center">
            The value must be in range {{pageMinSize}} to {{pageMaxSize}}!
          </p>
        </div>
      </form>
    </div>

  </div>

  <div class="row">
    <span>&nbsp;</span>
  </div>
  <!-- @end: options -->

  <div class="row" ng-include="'app/bookmarks/templates/table.html'"></div>


  <!-- @begin: pagination -->

  <!-- https://angular-ui.github.io/bootstrap/#/pagination -->
  <div class="row" ng-if="showPagination">
    <div class="text-center" ng-if="result.pages > 1">
      <pagination
        ng-model="currentPage"
        max-size="paginationItemsSize"
        total-items="result.count"
        num-pages="result.pages"
        items-per-page="paginationPageSize"
        ng-change="pageChanged()"
        class="pagination-sm"
        boundary-links="true"
        rotate="false"></pagination>
      </div>
  </div>

  <div class="row" ng-if="!showPagination">
    <p class="text-center" ng-if="filter.search">
      <i class="glyphicon glyphicon-filter"></i> : {{filter.search}}
    </p>
  </div>
  <!-- @end: pagination -->


</div>
