<!-- @begin: filter -->
<div class="row" ng-show="!showOptions &#38;&#38; !showPagination &#38;&#38; filter.search">
  <p class="text-center">
    <i class="glyphicon glyphicon-filter"></i> : {{filter.search}}
  </p>
</div>

<div ng-show="showFilter">

  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-filter"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Text"
      ng-model="filter.search"
      fend-focus="focusFilterSearchInput">
    <span class="input-group-btn">
      <button
        ng-click="clearFilter()"
        class="btn btn-default" type="button">Clear</button>
    </span>
  </div>

  <div class="row">&nbsp;</div>
</div>
<!-- @end: filter -->

<!-- @begin: table -->
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="visible-xs"></th>
        <th>Name <i class="glyphicon glyphicon-new-window" title="Open in new window"></i></th>
        <th>Description</th>
        <th class="hidden-xs"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bookmark in result.data | filter:filter.search">
        <td class="visible-xs">
          <a href="#bookmarks/edit/{{bookmark.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a></td>
        <td>{{bookmark.description}}</td>
        <td class="hidden-xs">
          <a href="#bookmarks/edit/{{bookmark.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- @end: table -->

<!-- @begin: pagination -->
<!-- http://getbootstrap.com/components/#pagination -->
<div class="row" ng-show="showPagination">
  <div class="text-center" ng-show="result.pages > 1">
    <ul class="pagination">
      <li
        ng-repeat="n in [] | pages_range: result.pages"
        ng-class="{active: (n+1) == result.page}"
      ><a ng-bind="n+1" ng-click="setPage()">1</a></li>
    </ul>
  </div>
</div>

<div class="row" ng-hide="showPagination">
  <p class="text-center" ng-show="filter.search">
    <i class="glyphicon glyphicon-filter"></i> : {{filter.search}}
  </p>
</div>
<!-- @end: pagination -->
