<div class="container">

<div class="row">
  <p>{{home.pageName}}  | <a href="#/about">About</a></p>
  <hr>
</div>

<div class="row">
  <h2>Welcome to Angular.js Boilerplate Project</h2>
  <hr/>
  <ul class="list-inline">
    <li>
      <button class="btn btn-primary" ng-click="home.popup('note')">Info (note)</button>
    </li>
    <li>
      <button class="btn btn-success" ng-click="home.popup('success')">Success</button>
    </li>
    <li>
      <button class="btn btn-warning" ng-click="home.popup('warning')">Alert</button>
    </li>
    <li>
      <button class="btn btn-danger" ng-click="home.popup('error')">Error</button>
    </li>
  </ul>
</div>


</div>
