<ul>
  <li>
    CSS Framework: <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> v3.3.2
    <ul>
      <li>
        <a href="http://getbootstrap.com/css/?#grid" target="_blank">Grid System</a> |
        <a href="http://getbootstrap.com/css/?#tables" target="_blank">Table</a> |
        <a href="http://getbootstrap.com/css/?#forms" target="_blank">Form</a> |
        <a href="http://getbootstrap.com/css/?#responsive-utilities" target="_blank">Responsive utilities</a> |
        <a href="http://getbootstrap.com/css/?#less" target="_blank">Less</a> (<a href="http://lesscss.org/"target="_blank">Less Site</a>)
        <br><br>
      </li>
    </ul>
  </li>

  <li>
    <a href="http://jquery.com/" target="_blank">JQuery</a> v2.1.3
    <br><br>
  </li>

  <li>
    <a href="http://requirejs.org/" target="_blank">Require.js</a> v2.1.15 - is a JavaScript file and module loader
    <br><br>
  </li>

  <li>
    JavaScript Framework: <a href="http://angularjs.org/" target="_blank">Angularjs</a> v1.3.11
    <ul>
      <li>

        <a href="http://code.angularjs.org/1.3.11/docs/guide" target="_blank">Angular Developer Guide</a>:
        <ul>
          <li><a href="http://code.angularjs.org/1.3.11/docs/guide/concepts" target="_blank">Conceptual Overview</a></li>
          <li>
            <a href="http://code.angularjs.org/1.3.11/docs/guide/databinding" target="_blank">Data Binding</a> |
            <a href="http://code.angularjs.org/1.3.11/docs/guide/di" target="_blank">Dependency Injection</a> |
            <a href="http://code.angularjs.org/1.3.11/docs/guide/controller" target="_blank">Controllers</a>
          </li>
          <li>
            <a href="http://code.angularjs.org/1.3.11/docs/guide/directive" target="_blank">Directives</a> |
            <a href="http://code.angularjs.org/1.3.11/docs/guide/$location" target="_blank">$location</a>
          </li>
        </ul>

      </li>

      <li>

        <a href="http://code.angularjs.org/1.3.11/docs/api" target="_blank">Angular API Docs</a>:
        <ul>
          <li>
            <a href="http://code.angularjs.org/1.3.11/docs/api/ng/service/$location" target="_blank">$location</a> |
            <a href="http://code.angularjs.org/1.3.11/docs/api/ng/service/$http" target="_blank">$http</a> |
            <a href="http://code.angularjs.org/1.3.11/docs/api/ngResource/service/$resource" target="_blank">$resource</a>
          </li>
        </ul>

      </li>

      <li>
        <a href="http://victorbjelkholm.github.io/ngProgress/" target="_blank">ngProgress</a> A slim, site-wide progressbar for AngularJS
      </li>

      <li>
        <a href="https://github.com/jirikavi/AngularJS-Toaster" target="_blank">AngularJS-Toaster</a> is a customized version of "toastr" non-blocking notification javascript library
      </li>

      <li> <a href="https://angular-ui.github.io/" target="_blank">Angular UI</a>
        <ul>
          <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Bootstrap</a> v0.12.0</li>
          <li><a href="https://angular-ui.github.io/ui-router/site/" target="_blank">Router</a> v0.2.13</li>
        </ul>
      </li>

      <li>
        Mock
        <ul>
          <li>Angular API Docs: <a href="http://code.angularjs.org/1.3.11/docs/api/ngMock/service/$httpBackend" target="_blank">$httpBackend</a></li>
          <li><a href="https://github.com/erkobridee/angular-mocks-backend/releases/tag/0.1.7" target="_blank">angular-mocks-backend</a> v0.1.7</li>
          <li><a href="http://lokijs.org/" target="_blank">LokiJS</a> v1.0.1</li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
