<ul>

  <li>
    Test's E2E ( End-to-End )

    <ul>

      <li>Syntax: <a href="https://jasmine.github.io/" target="_blank">Jasmine BDD</a></li>

      <li>
        Runner:
        <a href="https://angular.github.io/protractor/" target="_blank">Protractor</a> is an end-to-end test framework for AngularJS applications. Protractor runs tests against your application running in a real browser, interacting with it as a user would.

        <ul>
          <li>
            <a href="https://angular.github.io/protractor/#/tutorial" target="_blank">Protractor Tutorial</a>
          </li>

          <li>
            <a href="https://angular.github.io/protractor/#/api" target="_blank">Protractor API Doc</a>
          </li>

          <li>
            <a href="http://angularjs4u.com/protractor/protractor-e2e-testing-resources/" target="_blank">Protractor E2E Testing Resources | AngularJS 4U</a>
          </li>

          <li>
            Slides:

            <ul>
              <li>
                <a href="http://ramonvictor.github.io/protractor/slides/" target="_blank">Protractor for AngularJS: writing end-to-end test has never been so fun</a> - A step-by-step presentaion on Protractor End-to-End Testing for AngularJS
              </li>

              <li>
                <a href="https://pascalprecht.github.io/slides/e2e-testing-with-protractor/" target="_blank">E2E Testing with Protractor</a> - A framework for easily creating beautiful presentations using HTML
              </li>

              <li>
                <a href="http://slides.com/andrewschmadel/e2e-testing-with-angular-js-and-protractor" target="_blank">E2E Testing with angular.js and protractor</a>
              </li>
            </ul>

          </li>

        </ul>

      </li>

      <li>Selenium:

        <ul>
          <li>
            <a href="http://www.seleniumhq.org/" target="_blank">SeleniumHQ - Browser Automation</a>
          </li>

          <li>
            <a href="https://code.google.com/p/selenium/" target="_blank">Selenium | Google Code</a>
          </li>

          <li>
            <a href="https://code.google.com/p/selenium/wiki/WebDriverJs" target="_blank">WebDriverJS | Selenium Wiki - Google Code</a>
          </li>
        </ul>

      </li>

    </ul>

  </li>

</ul>
