<ul>

  <li>
    Test's Unit

    <ul>

      <li>Syntax: <a href="https://jasmine.github.io/" target="_blank">Jasmine BDD</a></li>

      <li>Runner: <a href="https://karma-runner.github.io/" target="_blank">Karma Runner</a></li>

      <li>Coverate Report: <a href="https://gotwarlost.github.io/istanbul/" target="_blank">istanbul-js: A Javascript code coverage tool written in JS</a></li>

      <li>
        References:

        <ul>
          <li>
            <a href="http://slides.com/eitanpeer/angularjs-testing" target="_blank">[Slid.es] AngularJS testing using Jasmine</a>
          </li>

          <li>
            <a href="https://github.com/daniellmb/angular-test-patterns" target="_blank">[GitHub] daniellmb / angular-test-patterns</a> - High Quality Guide for Testing AngularJS
          </li>

          <li>
            <a href="http://tech.pro/tutorial/1473/getting-started-with-angularjs-unit-testing" target="_blank">Getting started with AngularJS Unit Testing | Tech Pro</a>
          </li>

          <li>
            <a href="http://andyshora.com/unit-testing-best-practices-angularjs.html" target="_blank">Unit Testing Best Practices in AngularJS | Andy Shora</a>
          </li>

          <li>
            <a href="http://www.yearofmoo.com/2013/01/full-spectrum-testing-with-angularjs-and-karma.html" target="_blank">Full-Spectrum Testing with AngularJS and Karma | Year of moo</a>
          </li>

          <li>
            <a href="http://www.yearofmoo.com/2013/09/advanced-testing-and-debugging-in-angularjs.html" target="_blank">Advanced Testing and Debugging in AngularJS | Year of moo</a>
          </li>

        </ul>

      </li>

    </ul>

  </li>

</ul>
